
services:
  # 1. บริการ Back-end
  backend:
    build: ./DGA-back
    command: npm run dev
    working_dir: /usr/src/app
    volumes:
      - ./DGA-back:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./DGA-back/.env
    ports:
      - "1040:1040"
    environment:
      - NODE_ENV=development

  # 2. บริการ Front-end
  frontend:
    build: ./DGA-frontend
    working_dir: /usr/src/app
    volumes:
      - ./DGA-frontend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend