version: '3.8'

services:
  # 1. บริการ Back-end
  backend:
    build: ./DGA-back
    command: npm run dev
    working_dir: /usr/src/app
    ports:
      - "1040:1040"
    env_file:
      - ./DGA-back/.env
    volumes:
      - ./DGA-back:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development

  # 2. บริการ Front-end
  frontend:
    build: ./DGA-frontend
    # (command: npm run dev ถูกกำหนดใน Dockerfile แล้ว)
    ports:
      - "8083:5174"
    volumes:
      - ./DGA-frontend:/app
      - /app/node_modules
    depends_on:
      - backend